*{
    font-family: Pretendard, "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
    box-sizing: border-box;
}
header{
    border: 0.5px solid #72CC82;
    height: 70px;
    background-color: #96e6a5;
}
.header_content{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.logo_div{
    width: 100px;
    height: 70px;
}
.logo{
    text-decoration: none;
    background-image: url(https://i.ibb.co/B2nhGpC/main-logo.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    width: 100px;
    height: 98%;
}
.header_user{
    width: 1500px;
}
.header_user ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_user a{
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    text-decoration: none;
    color: black;
}
.header_search{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 300px;
}
.header_search div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.header_search form{
    display: block;
}
.header_search label{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 7px 10px 8px 36px;
    background-color: #f5f5f5;
    border-radius: 2px;
}
.header_search i{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
}
.header_search input{
    width: 100%;
    padding: 0 0 1px;
    overflow: hidden;
    border: 0;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    background: transparent;
}
.movie_header{
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}
.movie_comment{
    display: flex;
    justify-content: flex-end;
}
.movie_rate{
    display: flex;
    align-items: center;
}
.movie_main{
    padding: 50px 100px;
}
.movie_gallery{
    display: flex;
    justify-content: space-around;
}
.movie_gallery div{
    padding: 20px;
}
.movie_gallery img{
    width: 278px;
    height: 400px;
}
.storyline{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storyline p{
    font-size: 14px;
}
.people{
    display: flex;
    padding: 50px 100px;
    text-align: center;
    justify-content:space-evenly;
}
.people img{
    width: 100px;
    height: 100px;
}
footer{
    height: 70px;
    border: 1px solid #72CC82;
    background-color: #96e6a5;
}
.footer_content{
    width: 100%;
}
.footer_content ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_content li{
    width: 20%;
    margin-left: 50px;
    line-height: 70px;
}
.footer_content a{
    text-decoration: none;
    color: #000;
}
